--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: complaint_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint_tasks (
    id integer NOT NULL,
    complaint_id integer NOT NULL,
    maintainer_id integer NOT NULL,
    status character varying(16) DEFAULT '寰呭鐞?::character varying NOT NULL,
    result_text text,
    result_photo_url character varying(255),
    result_location public.geometry(Point,4326),
    created_at timestamp without time zone DEFAULT now(),
    completed_at timestamp without time zone
);


ALTER TABLE public.complaint_tasks OWNER TO postgres;

--
-- Name: complaint_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaint_tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaint_tasks_id_seq OWNER TO postgres;

--
-- Name: complaint_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaint_tasks_id_seq OWNED BY public.complaint_tasks.id;


--
-- Name: complaints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaints (
    id integer NOT NULL,
    type character varying(32) NOT NULL,
    description text NOT NULL,
    photo_url character varying(255),
    location public.geometry(Point,4326) NOT NULL,
    status character varying(16) DEFAULT '鏈鐞?::character varying,
    created_at timestamp without time zone DEFAULT now(),
    handled_at timestamp without time zone,
    handler character varying(64),
    reporter_id integer,
    reward_given boolean DEFAULT false NOT NULL
);


ALTER TABLE public.complaints OWNER TO postgres;

--
-- Name: complaints_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaints_id_seq OWNER TO postgres;

--
-- Name: complaints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaints_id_seq OWNED BY public.complaints.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    sender_id integer NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    chat_group character varying(64) NOT NULL,
    is_deleted boolean DEFAULT false
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: rides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rides (
    id integer NOT NULL,
    user_id integer NOT NULL,
    vehicle_id integer NOT NULL,
    park_id integer NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone,
    fee numeric(10,2) DEFAULT 0,
    status character varying(20) DEFAULT 'ONGOING'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    start_location public.geometry(Point,4326),
    end_location public.geometry(Point,4326),
    CONSTRAINT rides_status_check CHECK (((status)::text = ANY (ARRAY[('ONGOING'::character varying)::text, ('COMPLETED'::character varying)::text, ('CANCELLED'::character varying)::text])))
);


ALTER TABLE public.rides OWNER TO postgres;

--
-- Name: mv_daily_ride_counts; Type: MATERIALIZED VIEW; Schema: public; Owner: postgres
--

CREATE MATERIALIZED VIEW public.mv_daily_ride_counts AS
 SELECT (date_trunc('day'::text, start_time))::date AS day,
    count(*) AS rides
   FROM public.rides
  GROUP BY (date_trunc('day'::text, start_time))
  ORDER BY ((date_trunc('day'::text, start_time))::date) DESC
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_daily_ride_counts OWNER TO postgres;

--
-- Name: park_fences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.park_fences (
    id integer NOT NULL,
    park_id integer NOT NULL,
    fence_type character varying(32) NOT NULL,
    name character varying(64) NOT NULL,
    coordinates text,
    created_at timestamp without time zone DEFAULT now(),
    max_vehicles integer
);


ALTER TABLE public.park_fences OWNER TO postgres;

--
-- Name: park_fences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.park_fences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.park_fences_id_seq OWNER TO postgres;

--
-- Name: park_fences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.park_fences_id_seq OWNED BY public.park_fences.id;


--
-- Name: parks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parks (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255),
    geo_boundary json,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    center_lng numeric(10,6),
    center_lat numeric(10,6),
    boundary_coordinates json
);


ALTER TABLE public.parks OWNER TO postgres;

--
-- Name: parks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.parks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.parks_id_seq OWNER TO postgres;

--
-- Name: parks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.parks_id_seq OWNED BY public.parks.id;


--
-- Name: rides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rides_id_seq OWNER TO postgres;

--
-- Name: rides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rides_id_seq OWNED BY public.rides.id;


--
-- Name: user_parks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_parks (
    user_id integer NOT NULL,
    park_id integer NOT NULL
);


ALTER TABLE public.user_parks OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    phone character varying(15) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(100),
    role character varying(20) NOT NULL,
    status character varying(10) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    monthly_card_expiry timestamp with time zone,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('TENANT'::character varying)::text, ('OPERATOR'::character varying)::text, ('MAINTAINER'::character varying)::text, ('PARK_ADMIN'::character varying)::text]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY (ARRAY[('ACTIVE'::character varying)::text, ('INACTIVE'::character varying)::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicles (
    id integer NOT NULL,
    code character varying(50) NOT NULL,
    park_id integer NOT NULL,
    status character varying(20) DEFAULT 'IDLE'::character varying NOT NULL,
    battery integer DEFAULT 100,
    location public.geometry(Point,4326),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    parking_fence_id integer,
    CONSTRAINT vehicles_battery_check CHECK (((battery >= 0) AND (battery <= 100))),
    CONSTRAINT vehicles_status_check CHECK (((status)::text = ANY (ARRAY[('IDLE'::character varying)::text, ('IN_USE'::character varying)::text, ('LOCKED'::character varying)::text, ('MAINTENANCE'::character varying)::text])))
);


ALTER TABLE public.vehicles OWNER TO postgres;

--
-- Name: vehicles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehicles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicles_id_seq OWNER TO postgres;

--
-- Name: vehicles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehicles_id_seq OWNED BY public.vehicles.id;


--
-- Name: complaint_tasks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_tasks ALTER COLUMN id SET DEFAULT nextval('public.complaint_tasks_id_seq'::regclass);


--
-- Name: complaints id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints ALTER COLUMN id SET DEFAULT nextval('public.complaints_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: park_fences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.park_fences ALTER COLUMN id SET DEFAULT nextval('public.park_fences_id_seq'::regclass);


--
-- Name: parks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parks ALTER COLUMN id SET DEFAULT nextval('public.parks_id_seq'::regclass);


--
-- Name: rides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides ALTER COLUMN id SET DEFAULT nextval('public.rides_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vehicles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles ALTER COLUMN id SET DEFAULT nextval('public.vehicles_id_seq'::regclass);


--
-- Data for Name: complaint_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.complaint_tasks (id, complaint_id, maintainer_id, status, result_text, result_photo_url, result_location, created_at, completed_at) FROM stdin;
1	7	23	宸插畬鎴?6666	\N	0101000020E61000007E5358A9A0965C40FA0AD28C45873E40	2025-11-14 10:41:51.43418	2025-11-14 10:42:23.891735
2	9	23	宸插畬鎴?+666	\N	0101000020E61000003291D26C1E985C4085436FF1F09A3E40	2025-11-14 21:18:38.06403	2025-11-16 08:36:45.448207
3	10	23	宸插畬鎴?瀹屾垚	\N	0101000020E6100000A304FD851E985C4090BDDEFDF19A3E40	2025-11-16 09:21:17.539859	2025-11-16 09:21:38.201283
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (id, sender_id, message, "timestamp", chat_group, is_deleted) FROM stdin;
1	20	鍝堝搱鍝堝搱	2025-11-16 10:28:15.385552	GLOBAL	t
2	22	缁存姢浜哄憳鍚姩	2025-11-16 10:52:35.87719	GLOBAL	f
\.


--
-- Data for Name: park_fences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.park_fences (id, park_id, fence_type, name, coordinates, created_at, max_vehicles) FROM stdin;
1	1	RIDE	鍋滆溅鍖?121.5,31.3;121.6,31.3	2025-11-14 14:24:48.005987	\N
2	3	PARKING	jjj	66	2025-11-14 14:29:08.113478	\N
4	1	PARKING	鍗楅棬鍋滆溅鍖?6666	2025-11-14 21:15:58.670885	\N
\.


--
-- Data for Name: parks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rides; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: user_parks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_parks (user_id, park_id) FROM stdin;
23	1
23	2
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: complaint_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaint_tasks_id_seq', 3, true);


--
-- Name: complaints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaints_id_seq', 10, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 2, true);


--
-- Name: park_fences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.park_fences_id_seq', 4, true);


--
-- Name: parks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.parks_id_seq', 3, true);


--
-- Name: rides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rides_id_seq', 22, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 23, true);


--
-- Name: vehicles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vehicles_id_seq', 33, true);


--
-- Name: complaint_tasks complaint_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_tasks
    ADD CONSTRAINT complaint_tasks_pkey PRIMARY KEY (id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: park_fences park_fences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.park_fences
    ADD CONSTRAINT park_fences_pkey PRIMARY KEY (id);


--
-- Name: parks parks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parks
    ADD CONSTRAINT parks_pkey PRIMARY KEY (id);


--
-- Name: rides rides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_pkey PRIMARY KEY (id);


--
-- Name: user_parks user_parks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_parks
    ADD CONSTRAINT user_parks_pkey PRIMARY KEY (user_id, park_id);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_code_key UNIQUE (code);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: idx_rides_end_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_end_location ON public.rides USING gist (end_location);


--
-- Name: idx_rides_start_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rides_start_location ON public.rides USING gist (start_location);


--
-- Name: parks update_parks_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_parks_updated_at BEFORE UPDATE ON public.parks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: rides update_rides_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_rides_updated_at BEFORE UPDATE ON public.rides FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: vehicles update_vehicles_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_vehicles_updated_at BEFORE UPDATE ON public.vehicles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: complaint_tasks complaint_tasks_complaint_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_tasks
    ADD CONSTRAINT complaint_tasks_complaint_id_fkey FOREIGN KEY (complaint_id) REFERENCES public.complaints(id) ON DELETE CASCADE;


--
-- Name: complaint_tasks complaint_tasks_maintainer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_tasks
    ADD CONSTRAINT complaint_tasks_maintainer_id_fkey FOREIGN KEY (maintainer_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: complaints complaints_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.users(id);


--
-- Name: messages fk_sender; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fk_sender FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: park_fences park_fences_park_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.park_fences
    ADD CONSTRAINT park_fences_park_id_fkey FOREIGN KEY (park_id) REFERENCES public.parks(id) ON DELETE CASCADE;


--
-- Name: rides rides_park_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_park_id_fkey FOREIGN KEY (park_id) REFERENCES public.parks(id) ON DELETE RESTRICT;


--
-- Name: rides rides_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: rides rides_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rides
    ADD CONSTRAINT rides_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE RESTRICT;


--
-- Name: user_parks user_parks_park_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_parks
    ADD CONSTRAINT user_parks_park_id_fkey FOREIGN KEY (park_id) REFERENCES public.parks(id) ON DELETE CASCADE;


--
-- Name: user_parks user_parks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_parks
    ADD CONSTRAINT user_parks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vehicles vehicles_park_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_park_id_fkey FOREIGN KEY (park_id) REFERENCES public.parks(id) ON DELETE CASCADE;


--
-- Name: vehicles vehicles_parking_fence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_parking_fence_id_fkey FOREIGN KEY (parking_fence_id) REFERENCES public.park_fences(id);


--
-- Name: mv_daily_ride_counts; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: postgres
--

REFRESH MATERIALIZED VIEW public.mv_daily_ride_counts;


--
-- PostgreSQL database dump complete
--

